@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// vendors
@import './vendors/tailwind.scss';

// variables
:root {
  --background-color: #F9FAFB;
  --text-color: #1F2937;
}
html.dark {
  --background-color: #1F2937;
  --text-color: #F9FAFB;
}

// components
@import './components/navbar';
@import './components/carousel';
@import './components/dropdown';

// others
* {
  font-family: 'Poppins', sans-serif;
}
body {
  transition: .8s ease-in-out;
  transition-property: background color;
  background-color: var(--background-color);
  color: var(--text-color);
}
