.carousel-container {
  .carousel {
    position: relative;

    .item-container {
      border-radius: 1.75rem;
      overflow: hidden;
      display: none;
      // position: absolute;
      .item {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        position: relative;
        height: 500px;
        background: theme('colors.white');
        display: flex;
        flex-direction: column;

        .image-container {
          width: 100%;
          position: relative;
          height: 100%;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .content {
          width: 100%;
          padding: 1rem;
          display: block;
        }
      }
    }
  }

  .nav {
    transition: all .5s ease-in-out;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    z-index: 4;
    cursor: pointer;
    width: 54px;
    height: 54px;
    border-radius: 999px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: theme('colors.primary');
    background: theme('colors.white');
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

    &.prev {
      left: 1rem;
    }
    &.next {
      right: 1rem;
    }

    & span {
      display: block;
      text-align: center;
    }

    &:hover {
      color: theme('colors.primary');
      background: theme('colors.white');
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
  }
}

@screen md {
  .carousel-container {
    .carousel {
      .item-container {
        .item {
          flex-direction: row;

          .image-container {
            @apply w-2/3;
          }

          .content {
            @apply w-1/3;

            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }
      }
    }
    .nav {
      top: 50%;
      transform: translateY(-50%);
      color: theme('colors.white');
      background: theme('colors.primary');
    }
  }
}

@screen lg {
  .carousel-container {
    .carousel {
      .item-container {
        .item {
          .image-container {
            @apply w-3/4;
          }
          .content {
            @apply w-1/4;
          }
        }
      }
    }
  }
}
