.dropdown {
  position: relative;
  .menu {
    overflow: hidden;
    display: none;
    width: 200px;
    position: absolute;
    margin-top: 2rem;
    top: 0;
    right: 0;
    background: theme('colors.white');
    z-index: 10;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    border-radius: .3rem;
    .item {
      text-align: left;
      font-size: .85rem;
      color: theme('colors.black');
      padding: .5rem .65rem;
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background: theme('colors.gray.200');
      }
    }

    &.show {
      display: flex;
    }
  }
}
