.dropdown {
  position: relative;
  & > .menu {
    overflow: hidden;
    display: none;
    width: 180px;
    position: absolute;
    margin-top: 2.2rem;
    top: 0;
    right: 0;
    background: var(--background-color);
    z-index: 10;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    border-radius: .3rem;

    & > .item {
      text-align: left;
      font-size: .85rem;
      color: var(--text-color);
      padding: .5rem .65rem;
      padding-bottom: 0;

      & > .link {
        display: block;
        border-radius: .3rem;
        padding: .5rem .65rem;
      }

      &:last-child {
        padding-top: .2rem;
        padding-bottom: .5rem;
      }

      &:hover {
        & > .link {
          background: var(--background-darken-color);
          color: theme('colors.primary');
        }
      }
    }

    &.show {
      display: flex;
    }
  }
}
