.navbar {
  padding: 0.5rem 0;
  top: 0;
  width: 100%;
  z-index: 1;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .brand {
    color: theme('colors.white');
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  }

  .menu {
    display: flex;
    justify-content: flex-end;

    .item {
      text-transform: uppercase;
      color: theme('colors.white');
      font-weight: 500;
      margin-left: 1rem;
      text-decoration: none;
      transition: color 0.2s ease;
    }
  }
}
