.navbar {
  padding: 0.5rem 0;
  top: 0;
  width: 100%;
  z-index: 1;

  .container {
    display: flex;
    justify-content: space-between;

    & > .brand {
      color: theme('colors.white');
      font-size: 1.5rem;
      font-weight: 600;
      text-shadow: 2px 2px 2px rgba(0,0,0,0.3);

      img {
        border-radius: 10px;
        height: 46px;
        width: 46px;
        margin-right: 0.5rem;
        display: inline-block;
      }

      span {
        // display: none;
      }
    }

    & > .menu {
      flex: 1 1 0%;
      display: none;
      align-self: center;
      align-items: center;
      justify-content: flex-end;

      & > .item {
        align-items: center;
        align-self: center;
        text-transform: uppercase;
        color: theme('colors.gray.200');
        font-weight: 500;
        margin-left: 1rem;
        text-decoration: none;
        transition: color 0.2s ease-in-out;

        svg {
          transition: color 0.2s ease-in-out;
        }

        &:hover {
          color: theme('colors.white');
          text-shadow: 2px 2px rgba(0,0,0,0.3);

          svg {
            filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, .5));
          }
        }
      }
    }
  }
}

@screen lg {
  .navbar {
    .container {
      & > .menu {
        display: flex;
      }
    }
  }
}
