.badge {
  @apply text-xs;

  background-color: theme('colors.blue.500');
  color: theme('colors.white');
  border-radius: 12px;
  padding: 4px 12px;
  margin-right: 8px;
  display: inline-block;
}
.header {
  z-index: 1;
  padding-top: 1.5rem;
  padding-bottom: 3.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &::after {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 130, 246, .95);
  }

  & .navbar,
  & .carousel-container {
    z-index: 2;
  }
}
